.registrationAndViewing {
  display: flex;
}

.searchField {
  display: flex;
  padding: 10px 0;
}

.filters {
  font-family: Courier New , Courier , monospace;
  margin: 20px 0;
  text-align: center;
}

.searchField label {
  align-self: flex-end;
  display: block;
  margin: 0 50px 0 100px;
}

.searchField label input {
  margin: 0 10px;
  padding: 5px;
}

.searchField label select {
  padding: 5px;
  width: 130px;
}
